//VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap');

$primary: rgb(31, 5, 97);
$secondary: rgb(74, 39, 161);
$third: rgb(116, 72, 225);
$fourth: rgb(162, 133, 235);
$back-letter: rgb(255, 255, 238);
$fontFamily: 'Raleway', sans-serif;
$genWidth: 1400px;
$genHeight: 1200px;
$borderRadius: 10px;