@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap");
/* html{
    font-family: $fontFamily;
    font-size: 62.5%;
    word-spacing: 0.3em;
    letter-spacing: 0.09em;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 720px;
} */
/* body{
    display: grid;
    grid-template-areas: "header" "carousel" "main" "footer";
    grid-template-rows: auto auto auto 10vh;

} */
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto; }

.container-2 {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.flex {
  display: flex; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flexCenter {
  justify-content: center; }

.flexSpaceA {
  justify-content: space-around; }

.flexSpaceE {
  justify-content: space-evenly; }

.flexSpaceB {
  justify-content: space-between; }

.navbar {
  list-style: none;
  column-gap: 1rem;
  height: 100%; }
  .navbar li {
    display: flex;
    align-items: center;
    margin: 0 1rem; }
    .navbar li h4, .navbar li a {
      font-size: 1em;
      color: #ffffee;
      text-decoration: none;
      padding: 2rem; }
